<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- no nfc no app -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <!-- read the nfc tags -->
    <uses-permission android:name="android.permission.NFC" />

</manifest>